.search-panel {
  height: 60vh;
  overflow: hidden;
}
.search {
  position: absolute;
  width: 100%;
  top: 0;
  color: white;
}

.form {
  margin: 0 auto;
}
.search input {
  padding: 2rem 2rem;
  width: 50%;
  background-color: rgba(35, 35, 35, 0.7);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.5rem;
}

.search input:focus {
  outline: none;
}

.search p {
  color: #f65261;
  font-size: 2.5rem;
}

.search-btn {
  width: 13%;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 2rem;
  letter-spacing: 1.3px;
}
.main-div {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.div1 {
  width: 100%;
  display: flex;
  gap: 3rem;
}

.label {
  font-size: 4rem;
}
.background {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(35, 35, 35, 0.6),
      rgba(35, 35, 35, 0.6)
    ),
    url(./../../../../public/netflix.png);
  background-size: 100%;
  background-repeat: no-repeat;
  filter: blur(3px);
  transform: scale(1.02);
}
