.search-panel {
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
}
.form label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4.5rem;
  font-weight: lighter;
  margin-bottom: 3rem;
}
.input {
  display: flex;
  gap: 2rem;
}

.input input {
  width: 65%;
  padding: 2rem;
  background-color: #424242;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 2rem;
}

.input input:focus {
  outline: none;
}

.btn {
  width: 15%;
  padding: 2rem;
  text-transform: uppercase;
  font-size: 2rem;
  border-radius: 7px;
  letter-spacing: 1.2px;
}
