.header {
  position: absolute;
  width: 100vw;
  top: 0;
  color: white;
  display: block;
  margin: 2rem auto;
}
.heading {
  margin-left: 7rem;
}

.header p {
  color: #f55261;
  font-size: 3rem;
}

.searchPanel {
  margin: 2rem auto;
}
.background {
  height: 60vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(35, 35, 35, 0.6),
      rgba(35, 35, 35, 0.6)
    ),
    url(./../../../../public/netflix.png);
  background-size: 100%;
  background-repeat: no-repeat;
  filter: blur(3px);
  transform: scale(1.03);
}
