.header {
  color: white;
  display: block;
  margin: 0 auto;
  background-image: url(./../../../../public/netflix.png);
  height: 50vh;
  padding-top: 3rem;
}
.heading {
  margin-left: 7rem;
}

.header p {
  color: #f55261;
  font-size: 3rem;
}

.searchPanel {
  width: 100%;
  margin: 4rem 16rem;
}

.home {
  text-decoration: none;
}
